<div class="row-fluid">
    <div class="count span4 centered">
        <span class="number" style="color: {{format color}}">
            {{percentage}}%
        </span>
    </div>
    <div class="name span8">
        <span class="title url">{{url}}</span>
        <span> <a {{bindAttr href="url"}}>{{pathView}}</a> path views </span>
    </div>
</div>
